body {
  background: #fef9a7;
  font-size: 14px;
  font-weight: 500;
}
h1 {
  font-size: 32px;
  font-weight: 700;
}
a {
  color: green;
}
a:hover {
  color: green;
}
#email {
  color: blue;
}
.dodecaedr {
  background: linear-gradient(
    120deg,
    white 20%,
    pink 20%,
    blue 30%,
    purple 40%,
    black
  );
}
.radial1 {
  background: radial-gradient(yellow 40%, blue);
}
.radial2 {
  background: radial-gradient(at 100% 100%, yellow 40%, blue);
}
.radial3 {
  background: radial-gradient(blue 45%, blue 20%, white 20%);
}
.radial4 {
  width: 300px;
  height: 300px;
  background: radial-gradient(at 30% 30%, white 1%, orange 20%, red 80%);
  box-shadow: 20px 40px 30px gray;
  border-radius: 50%;
}
